@import "tailwindcss";
@import "@nesso/shared-tailwind/theme.css";
/* Note: import manually, find a better way to dynamic import */
@source "../../../../packages/shared-ui/src/**/*.{ts,tsx}";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-primary: #0B5ED7;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-jakarta: var(--font-jakarta);
  --font-poppins: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
